.timeline__list-item{
    .timeline__section {
            @include transition;
            visibility: hidden;
            opacity: 0;
        }
    &:nth-child(odd) div{
        transform: translateX( 100%);
    }

    &:nth-child(even) div {
        transform: translateX(-100%);
    }
}

//classList to add from Javascript
.timeline__list-item{
    .timeline__section{
        .slide-in{
            visibility: visible;
            opacity: 1;
            transition: none;
        }
    }
}

