.timeline__list-item{
    .timeline__section {
            @include transition;
            visibility: hidden;
            opacity: 0;
        }

    &:nth-child(odd) .timeline__section{
        transform: translateX(100%);
    }

    &:nth-child(even) .timeline__section{
        transform: translateX(-100%);
    }
}

// scss class to be add in javascript
.timeline__list-item.slide-in .timeline__section{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
